.list {
  display: grid;
  gap: 14px;
  width: 100%;
}

.list.increment {
  grid-template-columns: repeat(3, 1fr);
}

.list.decrement {
  grid-template-columns: 1fr 1fr;
}

@media screen and (min-width: 768px) {
  .list.increment {
    grid-template-columns: repeat(4, 1fr);
  }

  .list.decrement {
    grid-template-columns: repeat(3, 1fr);
  }
}
