.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: var(--shadow);
  box-sizing: border-box;
  border: 1px solid var(--blue-50);
  border-radius: 4px;
  padding: 15px 15px 24px;
  width: 100%;
  min-width: 150px;
  background-color: var(--white);
}

.priceSection, .moreColours, .title {
  margin: 10px 0;
}

.title {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 20px;
  font-size: 14px;
}

.priceSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 35px;
}

.previousPrice {
  text-decoration: line-through;
}

.discountPrice {
  margin-top: 5px;
  color:var(--red);
}

.moreColours {
  color: var(--gray-150);
  font-weight: 800;
}

.moreColours .hidden {
  visibility: hidden;
}

.button {
  margin-top: auto;
}
