:root {
    --background-color: #fefefe;
    --foreground-color: #ffffff;
    --disabled: #949494;

    --max-content: 1200px;
}

body {
    background-color: var(--background-color);
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 12px;
    max-width: var(--max-content);
    margin: auto;
}

main {
    margin: 10px;
}
