.header {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin: 30px 0;
  padding-bottom: 30px;
  border-bottom: 2px solid #e5e4e3;
}

.search {
  width: 100%;
}

.sort {
  margin-bottom: 30px;
}

@media only screen and (min-width: 767px) {
  .header {
    flex-direction: row;
    border: none;
    padding-bottom: 0;
  }

  .search {
    width: 50%;
  }

  .sort {
    margin-left: auto;
    margin-bottom: 0;
  }
}
