.sort {
  display: flex;
  align-items: center;
  gap: 14px;
}

.iconButton {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  cursor: pointer;
  outline: none;
}

.iconButton:active > .icon {
  fill: #d6d6d6;
}

.icon {
  fill: #e5e4e3;
}
