.sort {
  display: flex;
  align-items: center;
  gap: 14px;
}

.iconButton {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  cursor: pointer;
  outline: none;
}

.iconButton.selected > .icon {
  fill: var(--blue-50);
}

.icon {
  fill: var(--gray-100);
}
